modules/configuration/gsrc/wsi/local/search/policySearchPortalAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for search.policySearchPortalAPI web service -->
<wsdl:definitions targetNamespace="http://example.com/search/policySearchPortalAPI" name="policySearchPortalAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://example.com/search" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://example.com/search/policySearchPortalAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://example.com/search/policySearchPortalAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://example.com/search"/>
      <!-- getAccountInfo(String) : AccountInfo -->
      <xs:element name="getAccountInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAccountInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:AccountInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <!-- getPolicyInfo(String) : PolicyInfo -->
      <xs:element name="getPolicyInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyNumber" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPolicyInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:PolicyInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://example.com/search" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="AccountInfo">
        <xs:sequence>
          <xs:element name="AccountContact" minOccurs="0" gw:viewas="list" xmlns:gw="http://guidewire.com/xsd">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="AccountName" type="xs:string" minOccurs="0"/>
          <xs:element name="AccountNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="Address" type="xs:string" minOccurs="0"/>
          <xs:element name="Email" type="xs:string" minOccurs="0"/>
          <xs:element name="PhoneNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="Policies" minOccurs="0" gw:viewas="list" xmlns:gw="http://guidewire.com/xsd">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="ServiceTier" type="xs:string" minOccurs="0"/>
          <xs:element name="Status" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PolicyInfo">
        <xs:sequence>
          <xs:element name="AccountName" type="xs:string" minOccurs="0"/>
          <xs:element name="AccountNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="Address" type="xs:string" minOccurs="0"/>
          <xs:element name="AddressType" type="xs:string" minOccurs="0"/>
          <xs:element name="IssueDate" type="xs:string" minOccurs="0"/>
          <xs:element name="Issued" type="xs:string" minOccurs="0"/>
          <xs:element name="Offering" type="xs:string" minOccurs="0"/>
          <xs:element name="PolicyNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="PrimaryNamedInsured" type="xs:string" minOccurs="0"/>
          <xs:element name="Product" type="xs:string" minOccurs="0"/>
          <xs:element name="SSN" type="xs:string" minOccurs="0"/>
          <xs:element name="Underwriter" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="policySearchPortalAPIPortType">
    <wsdl:operation name="getAccountInfo">
      <wsdl:input name="getAccountInfo" message="tns:getAccountInfo"/>
      <wsdl:output name="getAccountInfoResponse" message="tns:getAccountInfoResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getPolicyInfo">
      <wsdl:input name="getPolicyInfo" message="tns:getPolicyInfo"/>
      <wsdl:output name="getPolicyInfoResponse" message="tns:getPolicyInfoResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="policySearchPortalAPISoap12Binding" type="tns:policySearchPortalAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getAccountInfo">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getAccountInfo">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccountInfoResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPolicyInfo">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getPolicyInfo">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPolicyInfoResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="policySearchPortalAPISoap11Binding" type="tns:policySearchPortalAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getAccountInfo">
      <soap11:operation style="document"/>
      <wsdl:input name="getAccountInfo">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccountInfoResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPolicyInfo">
      <soap11:operation style="document"/>
      <wsdl:input name="getPolicyInfo">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPolicyInfoResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="policySearchPortalAPI">
    <wsdl:port name="policySearchPortalAPISoap12Port" binding="tns:policySearchPortalAPISoap12Binding">
      <soap12:address location="local:///search/policySearchPortalAPI"/>
    </wsdl:port>
    <wsdl:port name="policySearchPortalAPISoap11Port" binding="tns:policySearchPortalAPISoap11Binding">
      <soap11:address location="local:///search/policySearchPortalAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="getAccountInfo">
    <wsdl:part name="parameters" element="tns:getAccountInfo"/>
  </wsdl:message>
  <wsdl:message name="getAccountInfoResponse">
    <wsdl:part name="parameters" element="tns:getAccountInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="getPolicyInfo">
    <wsdl:part name="parameters" element="tns:getPolicyInfo"/>
  </wsdl:message>
  <wsdl:message name="getPolicyInfoResponse">
    <wsdl:part name="parameters" element="tns:getPolicyInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>